@{
    ViewData["Title"] = "Home Page";
}

<p>@ViewBag.Mon</p>
<p>@ViewBag.Sun</p>

<div class="jumbotron">
    <h2>Zenith Society</h2>
    <h3>Server Site</h3>
    <h4>Karl Arreola (A00927827), Matt Rosenlund (A00801989)</h4>
</div>