@{
    ViewData["Title"] = "Home Page";
    HashSet<DayOfWeek> activeDays = new HashSet<DayOfWeek>();
    List<ZenithWebsite.Models.Event> eventsThisWeek = new List<ZenithWebsite.Models.Event>();
}

<div class="jumbotron">
    <h2>Zenith Society</h2>
    <h3>Server Site</h3>
    <h4>Karl Arreola (A00927827), Matt Rosenlund (A00801989)</h4>
</div>